@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

/* layout global */

header, .footer, main {
    border: 1px solid rgb(176, 176, 180);
    padding: 1rem;
}

body {
    height: 100vh;
    min-width: 450px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    menu {
        list-style: none;
        display: flex;
        gap: 1rem;
        a {
            text-decoration: none;
            color: inherit;
            border: 1px solid ghostwhite;
            display: block;
            padding: 0.5rem 1rem;
        }
        a:hover {
            border: 1px solid rgb(144, 144, 152);
        }
    }
}

.footer {
   text-align: center;
}
