body {
    background-color: bisque;
}

header,
footer,
section {
    border: 1px solid gray;
    div {
        margin: 2rem;
        border: 1px solid;
        text-align: center;
        border-radius: 10px;
    }
}

header,
footer {
    min-height: 20vh;
}

.section-wrapper {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    min-height: 60vh;
    align-items: start;
    gap: 1rem;
}

section {
    /* flex-grow: 0; 
    flex-shrink: 1;
    flex-basis: auto; */
    flex: 0 0 auto;
}

section:nth-of-type(2) {
    flex-grow: 2;
    order: -1;
}

section:nth-of-type(3) {
    flex-grow: 1;
}

img {
    float: right;
    margin: 1rem;
}
